@model IEnumerable<LeadTracker.Models.InteractionListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InteractionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InteractionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeadID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InteractionID}) |
            @Html.ActionLink("Details", "Details", new { id = item.InteractionID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InteractionID })
        </td>
    </tr>
}

</table>
